.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 0.75rem;
}
.container div {
  width: 100%;
}
.container div input {
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: var(--white);
  outline: none;
  font-size: 1rem;
  color: var(--white);
  padding: 0.25rem;
}
.container div input:focus {
  border: 1px solid var(--white);
}

.errorMessage {
  color: red;
}
