.cardContainer {
  margin: auto;
  padding: 1.125rem;
  color: var(--white);
  border-radius: 23px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  width: 21rem;
}

.cardNumber {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cardNumber a {
  display: block;
  width: 2rem;
  height: 2rem;
}
.cardNumber p {
  display: flex;
}

.expirationCvv {
  display: flex;
  justify-content: space-between;
}


.expirationCvv div {
  font-size: 1.5rem;
}

.cartao{
  width: 150%;
  height: 150%;
}

.eye{
  max-width: 35px; /* Defina o tamanho máximo que você deseja */
  height: auto; /* Mantém a proporção original da imagem */
  filter: invert(100%);
}
.cardContent {
  display: flex;
  align-items: center;
}

