.cardContainer {
  margin: auto;
  padding: 1.125rem;
  background: linear-gradient(to bottom, #808080, #4d4d4d);
  color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.cardNumber {
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.expirationCvv {
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
}

*{
  font-family: 'Inter';
}

.expirationCvv div {
  font-size: 1.5rem;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/font-inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}