.mainContainer {
    margin-left: 250px; /* Margem esquerda fixa para telas maiores */
  }
  
  @media (max-width: 1200px) {
    .mainContainer {
      margin-left: 100px; /* Remover a margem esquerda em telas menores */
    }
  }
  
  @media (max-width: 1000px) {
    .mainContainer {
      margin-left: 50px; /* Remover a margem esquerda em telas menores */
    }
  }
  
  /* Use uma media query para ajustar a margem em telas menores */
  @media (max-width: 900px) {
    .mainContainer {
      margin-left: 0; /* Remover a margem esquerda em telas menores */
    }
  }
  .withdrawContainer{
      border-radius: 20px;
      background-color: #234149;
          padding: 10px 50px 0 50px; /* Margem: superior, direita, inferior, esquerda */    
        width: 100%;
  }
  


  .centerButton{
    padding: 1rem 0.75rem;
  border-radius: 7px;
  border: 1px solid var(--white);
  font-size: 1.25rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  min-width: 12.5rem;
  transition: 0.3s;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #234149;
  color: white;
  border-right: none;
   
  }
  .centerButton:hover{
  border-color: var(--blue-300);
  color:var(--blue-300) ;
}


  .leftButton{
    padding: 1rem 0.75rem;
  border-radius: 7px;
  border: 1px solid var(--white);
  font-size: 1.25rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  min-width: 12.5rem;
  transition: 0.3s;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #234149;
  color: white;
  border-right: none;
   
  }
  .leftButton:hover{
  border-color: var(--blue-300);
  color:var(--blue-300) ;
}
.rightButton:hover{
  border-color: var(--blue-300);
  color:var(--blue-300) ;
}

  .rightButton{
    background-color: #234149;
    padding: 1rem 0.75rem;
  border-radius: 7px;
  border: 1px solid var(--white);
  font-size: 1.25rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  min-width: 12.5rem;
  transition: 0.3s;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: white;
  }
  @media (max-width: 400px) {
    .leftButton{
      min-width: 8.0rem;
    }
    .rightButton{
      min-width: 8.0rem;
    }
  }
  .activeButton {
    border-top: 5px solid white;
  }
  