.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.form > div {
  background-color: rgba(30, 30, 30, 0.2);
  padding: 2.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form > div {
    width: 100%;
  }
}