.container {
  max-width: 75rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
  margin: auto;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}

.intro h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 3.75rem;
}

.intro div img {
  max-width: 12.5rem;
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .intro h1 {
    text-align: center;
  }
  .intro div img {
    display: none;
  }
}