.containerHome, .containerUpdate {
  max-width: 56.25rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
  margin: 0 auto;
}

.userInfo > div {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.userInfo p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.userInfo p strong {
  color: var(--pink-400);
}
.userInfo h1, .containerUpdate h2 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.balance {
  padding: 1.25rem;
  background-color: var(--blue-600);
  border-radius: 8px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;
}


/* UPDATE USER SECTION */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.form > div {
  background-color: rgba(30, 30, 30, 0.2);
  padding: 2.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form > div {
    width: 100%;
  }
}