.container {
  max-width: 75rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
  margin: auto;
}
.container h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 2.5rem;
  text-align: left;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.form > div {
  background-color: rgba(30, 30, 30, 0.2);
  padding: 2.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 800px) {
  .container h1 {
    text-align: left;
  }
  .form {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form > div {
    width: 100%;
  }
}
