.container {
  max-width: 75rem;
  width: 100%;
  padding: 0 1.25rem;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}
.flex ul {
  all: unset;
  list-style: none;
  max-width: 27.5rem;
}
.flex li {
  line-height: 1.5;
  color: var(--blue-100);
}

.disclaimer {
  background-color: var(--blue-600);
  margin: 0;
  padding: 1.25rem 0;
  text-align: center;
  margin-top: 1.25rem;
}
