.mainContainer {
    margin-left: 250px; /* Margem esquerda fixa para telas maiores */
  }
  
  @media (max-width: 1200px) {
    .mainContainer {
      margin-left: 100px; /* Remover a margem esquerda em telas menores */
    }
  }
  
  @media (max-width: 1000px) {
    .mainContainer {
      margin-left: 50px; /* Remover a margem esquerda em telas menores */
    }
  }
  
  /* Use uma media query para ajustar a margem em telas menores */
  @media (max-width: 900px) {
    .mainContainer {
      margin-left: 0; /* Remover a margem esquerda em telas menores */
    }
  }
  .withdrawContainer{
      border-radius: 20px;
      background-color: #234149;
          padding: 10px 50px 0 50px; /* Margem: superior, direita, inferior, esquerda */    
        width: 100%;
  }
  
  .font{
      font-size: 2.0rem;
  }
  
  .questionValue{
      font-size: 1.6rem;
      margin-top: 2rem;
  }
  .questionValue2{
    font-size: 1.6rem;
    margin-top: 1rem;
}
  
  .value{
      background-color: #223840;
      border-style: none;
      border-radius: 20px;
      width: 95%;
      color: white;
      height: 60px;
      font-size:1.6rem; 
      padding-left: 10px;
      margin-bottom: 1rem;
  }
  
  .button{
    background-color: #223840;
    border-style: none;
    border-radius: 20px;
    width: 95%;
    color: white;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 1.4rem;
  }
        
  .button:hover{
    border-color: white;
    border-style: inset;
    }