:root {
  --white: #fff;
  --black: #000;

  --blue-100: #cad8dd;
  --blue-200: #9fb7bf;
  --blue-300: #07b0f2;
  --blue-400: #034159;
  --blue-500: #223840;
  --blue-600: #213238;

  --pink-400: #FF45EC;
  
  --red-400: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--blue-500);
  color: var(--white);
  --webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}
