

  .transacao {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .transacao:last-child {
    margin-top: 1.5rem;
    border-bottom: none;
  }

  .data {
    font-weight: bold;
    display: flex;
    
  }

  .descricao {
    margin-top: 5px;
    display: flex;
  }

  .valor {
    margin-top: 5px;
    font-weight: bold;
      color: #27ae60;
      width: 200rem;
  }

.box{
  display: flex;
}

  .saldo {
    color: #27ae60;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 0px;
  }

  .svg{
    width: 40px;
    height: 40px;
    filter: invert(1);
  }
  .pdf_svg{
    width: 40px;
    height: 40px;
    filter: invert(1);
  }
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  img.pdf_svg:hover {
    width: 40px;
  height: 40px;
  filter: var(--blue-300);
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}
.pdf-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

  
  