.authContainer {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .authContainer {
    grid-template-columns: 1fr;
    align-items: start;
    min-height: auto;
  }
}
